{% extends 'base.html' %}

{% block title %} Create New {% endblock %}

{% block content %}

    {% if error %}

        <div class="alert alert-danger" role="alert">
          {{ error }}
        </div>    

    {% endif %}

    <div class="container">

        <form method="post" action="/create/" class="mx-auto mt-5">

            {% csrf_token %}

            <p>
                <label for="id_jobTitle">Job Title:</label>
                <input type="text" name="jobTitle" maxlength="255" required="required" id="id_jobTitle">            
            </p>

            <h5 class='text-center m-4'> - AND - </h5>

            {{form.as_p}}

            <h5 class='text-center m-4'> - OR - </h5>

            <textarea name="jobInfo" class="form-control" id="exampleFormControlTextarea1" rows="3"" placeholder="Job Information"></textarea>

            <button type="submit" class="btn btn-primary mt-4" name="save">Create Cover Letter</button>

        </form>

        {% if formData %}
            {{ formData }}
        {% endif %}

    </div>
    
    <style type="text/css">
        form{ width: 460px; }
        form p { font-size: .9em; }
        form p label { width: 20%; }
        form p input { width: 79% }
    </style>

{% endblock %}
